// NOTE: LESS mixins for brevity
.apply-container() {
    position: relative;
    width: 100%;
    height: 100%;
}

.fake-shadow(@fake-shadow-color) {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background-color: @fake-shadow-color;
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
    z-index: -2;
    filter: blur(20px);
}

.apply-flex-distribute(@orientation) {
    display: flex;
    flex-direction: @orientation;
    justify-content: space-between;
    padding: 0.5rem;
}


.dialog.sr3e,
.sr3e.sheet.item,
.sr3e.sheet.character {

    .window-content {
        padding: 0rem;
        margin: 0rem;
    }

    .stat-grid {
        display: inline-grid;
        
        grid-template-columns: repeat(3, 1fr);

        &.one-column {
            display: inline-grid;
            width: fit-content;
            max-width: min-content;
            grid-template-columns: repeat(1, auto);
        }
        
        &.two-column {
            display: inline-grid;
            width: fit-content;
            max-width: min-content;
            grid-template-columns: repeat(2, auto);
        }

        gap: 0.25rem;
    }

    .details-foldout {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .inner-background-container {

        .apply-container();
        padding: 0.5rem;




        .inner-background {
            .apply-container();
            padding: 0.5rem;

            z-index: 10;

            .header-icon {
                justify-content: center;
            }

            &.slim {
                width: auto;
                display: inline-block;
                flex: 0 1 auto;
                white-space: nowrap;
            }
        }

        &.slim {
            width: auto;
            display: inline-block;
            flex: 0 1 auto;
            white-space: nowrap;
        }
    }
}