.points-position {
    position: relative;

    .point-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -7.5rem;
        height: 7rem;
        width: 7rem;
        text-align: center;
        justify-content: center;
        padding: 0.5rem;
        gap: 1rem;

        /* horizontal */
        align-items: center;
        /* vertical */

        h1 {
            font-size: 3rem;
        }

        div {
            margin-bottom: 0;
        }

        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    }
}

.attribute-point-assignment>.point-container:first-child {
    box-shadow:
        inset 0 0 10px 1px @highlight-color-primary,
        inset 0 0 30px @highlight-color-primary;

    h1 {
        color: @highlight-color-primary;

        ;
    }
}

.attribute-point-assignment>.point-container:not(:first-child) {
    box-shadow: inset 0 0 30px rgba(0, 255, 255, 0.5);

    h1 {
        color: rgba(0, 255, 255, 0.5);
        ;
    }
}

.skill-point-assignment>.point-container:first-child {
    box-shadow: inset 0 0 30px rgba(0, 255, 255, 0.5);

    h1 {
        color: rgba(0, 255, 255, 0.5);
        ;
    }
}

.skill-point-assignment>.point-container:not(:first-child) {
    box-shadow:
        inset 0 0 10px 1px @highlight-color-primary ,
        inset 0 0 30px @highlight-color-primary;

    ;

    h1 {
        color: @highlight-color-primary;

        ;
    }
}