#chat-controls.flexrow {
    background: transparent;
    color: var(--user-color);
}

textarea#chat-message {
    
    .VTT323();
    color: var(--user-color);
    
    margin: 0rem;
    position: relative;
    width: 100%;
    height: 100%;
    padding:0.5rem;
    background: var(--background-color);
    border-radius: 0rem;
    outline: none;
    .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);


    &:focus {
        outline: none;
        box-shadow: 0 0 0.5rem @highlight-color-secondary, inset 0 0 2rem var(--highlight-color-primary);
    }

    &:hover {
        outline: none;
        box-shadow: inset 0 0 2rem var(--user-color);
        animation: flicker 1s ease-in-out;
    }

    &:not(:hover) {
    animation: leavinghoverarea 0.5s ease-in-out forwards;
    }

    &:active {
        box-shadow: inset 0 0 3rem var(--user-color);
    }

}

@keyframes leavinghoverarea {
    0% {
        box-shadow: inset 0 0 2rem var(--user-color);
    }
    
    100% {
        box-shadow: inset 0 0 0.5rem var(--user-color);
    }
}

@keyframes flicker {
    0% {
        box-shadow: 0 0 2px var(--user-color), 0 0 1rem var(--user-color), 0 0 20px @highlight-color-secondary
    }
    20% {
        box-shadow: none;
    }
    40% {
        box-shadow: 0 0 2px var(--user-color), 0 0 1.2rem var(--user-color), 0 0 15px @highlight-color-secondary;
    }
    60% {
        box-shadow: none;
    }
    80% {
        box-shadow: 0 0 4px var(--user-color), 0 0 0.7rem var(--user-color), 0 0 25px @highlight-color-secondary;
    }
    100% {
        box-shadow: 0 0 4px var(--user-color), 0 0 2rem var(--user-color), 0 0 25px @highlight-color-secondary;
    }
}