.units {
    color: @h1-color !important;
    text-shadow: 0 0 10px @h1-color !important;
}


.cards,
.rolltable {
    padding: 0.5rem;
}

.tab {
    background: transparent;
}

//Sets the background of the recursive folder object
li.directory-item.folder {
    background-color: transparent;
    margin: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.25rem;
    position: relative;

    li.directory-item.folder {
        margin: 0rem;
        padding: 0rem;
    }

    .subdirectory {
        margin-left: 0.25rem;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        background-color: @secondary-color;
        pointer-events: none;
        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; // Push behind the main element if needed
    }
}

.folder-header.flexrow {
    margin-top: 0.25rem;
    border-radius: 5px;

    h3.noborder {
        text-shadow: none;
        color: @h1-color;
    }
}

li.directory-item.compendium {
    margin-left: 0.5;
    margin-right: 0.5;
    margin-top: 0.5;
}


.directory-item.compendium::before,
.directory-item.compendium::after,
.directory-item.document::after,
.directory-item.document::before {
    display: none;
}

.directory-post {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0.25rem;
    padding: 0.25rem;
    background-color: @accent-cherry-blossom;
    .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);

    &:hover {
        background-color: @accent-color;
        animation: bump 0.3s ease-in-out; // Bump animation on hover
    }

    &:active {
        animation: reverse-bump 0.2s ease-out; // Reverse bump on click
    }

    &::before {
        position: absolute;
        pointer-events: none;
        box-shadow: inset 0 0 30px #1d282c;
        content: '';
        z-index: -1;
        background: @default-inner-background-color;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        pointer-events: none;

        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    }
}

// Define the bump animation (on hover)
@keyframes bump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.01);
    }

    // Slightly bigger
    100% {
        transform: scale(1);
    }

    // Back to normal
}

// Define the reverse bump animation (on click)
@keyframes reverse-bump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.97);
    }

    // Slightly smaller
    100% {
        transform: scale(1);
    }

    // Back to normal
}



#context-menu.expand-down {
    background-color: @accent-cherry-blossom;
    border-radius: 0rem;
    .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);

    &::before {
        position: absolute;
        pointer-events: none;
        box-shadow: inset 0 0 30px #1d282c;
        content: '';
        z-index: -1;
        background: @default-inner-background-color;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        pointer-events: none;
        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);

    }
}

.directory-footer {
    margin-top: 0.25rem;
    min-height: 2rem;
}

div#sidebar.app {
    position: relative;
    border-radius: 0rem;

    .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
}

#ui-right,
.directory-list {
    padding: 0.5rem;
    position: relative;
    // Use the base color with adjusted opacity for the inset box-shadow
    box-shadow: 
    inset 0 -4px 30px fade(@highlight-color-primary, 80%),
    inset 0 -2px 10px fade(@highlight-color-primary, 60%);


    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        // Create a gradient overlay using the same color at different opacities
        background: linear-gradient(to bottom,
                fade(@highlight-color-primary, 5%) 0%, // Very faint at the top
                fade(@highlight-color-primary, 8%) 60%, // Slight increase
                fade(@highlight-color-primary, 15%) 75%, // Noticeable increase
                fade(@highlight-color-primary, 25%) 85%, // Almost full intensity
                fade(@highlight-color-primary, 50%) 90% // Full intensity at the bottom
            );
    }
}

#ui-right {
    h2 {
        text-align: center;
        padding: 0.5rem;
        background-color: @primary-color;
        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    }
}


.directory-list {
    .clipped-corners(0.5rem, 0.5rem, 1rem, 0.5rem);
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////
#chat-form {
    z-index: 100;
}

.chat-message {

    .fake-shadow-in-chat(@fake-shadow-color) {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        background-color: @fake-shadow-color;
        width: calc(100% - 1.5rem);
        height: calc(100% - 1.5rem);
        z-index: -2;
        filter: blur(20px);
    }

    .inner-background-container {
        position: relative;

        .fake-shadow {
            .fake-shadow-in-chat(var(--message-color));
            .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
        }


        .apply-container();

        .message-container {
            .apply-container();
            background-color: var(--message-color);
            position: relative;
            
            .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
            position: relative;

            &::before {
                box-shadow: inset 0 0 10px var(--message-color);
                content: '';
                position: absolute;
                z-index: -1;
                background: @secondary-color;
                top: 1px;
                left: 1px;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                pointer-events: none;
                .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
            }

            .header-icon {
                justify-content: center;
            }

            &.slim {
                width: auto;
                display: inline-block;
                flex: 0 1 auto;
                white-space: nowrap;
            }
        }

        &.slim {
            width: auto;
            display: inline-block;
            flex: 0 1 auto;
            white-space: nowrap;
        }
    }
}

.chat-controls,
.chat-message {
    z-index: 400;
    border: 0rem;
    background: transparent;
    .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    position: relative;

    h1,
    h2,
    h3,
    h4 {
        color: var(--message-color);
        text-shadow: 0 0 10px var(--message-color);
    }

    &.whisper {
        border: 0rem;
        padding: 0rem;
        background-color: transparent;
    }

    span.whisper-to,
    time.message-timestamp {
        color: var(--message-color);
    }
}

.nue,
a {
    color: @highlight-color-primary;
    text-shadow: @highlight-color-primary;

}

footer.nue {
    color: @highlight-color-tertiary;
}

.nue a,
a.nue-tab,
a.nue-action {
    color: @highlight-color-secondary;
    text-shadow: @highlight-color-secondary;
}

h3.nue {
    text-align: center;
    position: relative;
    border: none;
    background-color: @accent-cherry-blossom;
    .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        background: @default-inner-background-color;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        pointer-events: none;
        box-shadow: inset 0 0 20px @highlight-color-primary;
        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    }
}

#game-details {
    background: @accent-cherry-blossom;
    color: @h1-color;
    padding: 0.5rem;
    margin: 0rem;
    position: relative;
    .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        background: @default-inner-background-color;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        pointer-events: none;
        box-shadow: inset 0 0 20px @highlight-color-primary;
        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    }
}

#sidebar-tabs,
#settings-game,
#settings-documentation,
#settings-access {
    position: relative;
    background: @accent-cherry-blossom;
    margin: 0rem;
    padding: 0.5rem;
    .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        background: @default-inner-background-color;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        pointer-events: none;
        box-shadow: inset 0 0 20px @highlight-color-primary;
        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    }

    a.item.active {
        scale: 100%;
        box-shadow: none;
        color: white;
        text-shadow: 0 0 15rem white;
    }

    a.item {
        scale: 80%;
    }
}

.playlist-header.flexrow {
    background: transparent !important;
    h4 {
        color: magenta;
        background: transparent !important;
    }
}

.playlists-sounds {
    i {
        color: @h1-color;
    }
}

#global-volume {
    all: unset;
    background-color: @accent-cherry-blossom;
    position: relative;
    .clipped-corners(0.5rem, 0.5rem, 1rem, 0.5rem);

    &::before {
        box-shadow: inset 0 0 30px #1d282c;
        content: '';
        position: absolute;
        z-index: -1;
        background: @default-inner-background-color;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        pointer-events: none;
        .clipped-corners(0.5rem, 0.5rem, 1rem, 0.5rem);
    }
}