.journal-entry-page.window-content {
    background: bisque;
    padding: 0.5rem !important;
    margin: 0.5rem;
    .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
}

.journal-sheet {
    //THe entire journal app background
}

.editor-content {
    background:
        linear-gradient(to right,
            transparent 0%,
            rgba(0, 255, 255, 0.1) 20%,
            rgba(0, 255, 255, 0.1) 80%,
            transparent 100%),
        radial-gradient(ellipse 50% 5% at 50% 100%,
            rgba(0, 255, 255, 0.8) 0%,
            transparent 100%),
        radial-gradient(ellipse 50% 5% at 50% 0%,
            rgba(0, 255, 255, 0.8) 0%,
            transparent 100%);

    p {
        text-indent: 0.5rem;
        margin: 0.5rem;
    }

    .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
}

.journal-page-content {
    background: red;
}