/*

@import "./styling/skinning/sr3e-input.less";
@import "./styling/skinning/sr3e-input-range.less";
@import "./styling/skinning/sr3e-select.less";
@import "./styling/skinning/sr3e-common.less";
@import "./styling/skinning/sr3e-textarea.less";
@import "./styling/skinning/sr3e-form.less";
@import "./styling/skinning/sr3e-img.less";
@import "./styling/skinning/sr3e-table.less";
@import "./styling/skinning/sr3e-playerconfig.less";
@import "./styling/skinning/sr3e-pause-container.less";

//Sheet specific styles
@import "./sheets/sheet-metahuman.less";

//Common styles




//Third Party
@import "./styling/editor.less";


*/
@font-face {
  font-family: 'VT323';
  src: url('../../../fonts/VT323/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neonderthaw';
  src: url('../../../fonts/Neonderthaw/Neonderthaw-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'VT323', monospace;
  font-size: 14px;
  margin: 0.33rem 0;
  line-height: 1rem;
  color: #1df0ff;
}
body form.p.hint,
body p.hint {
  color: #ff0095;
}
body div {
  color: #1df0ff;
}
body h1 {
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  font-size: 14px;
  margin: 0.33rem 0;
  line-height: 1rem;
  color: #1df0ff;
  text-shadow: 0 0 10px #45d06b, 0 0 20px #e6ff8d;
  border: none;
  margin-bottom: 0.7rem;
  font-size: 1.4rem;
}
body summary,
body h2 {
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  font-size: 14px;
  margin: 0.33rem 0;
  line-height: 1rem;
  color: #1df0ff;
  color: #ff0095;
  border: none;
  font-size: 1.2rem;
}
body h3 {
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  font-size: 14px;
  margin: 0.33rem 0;
  line-height: 1rem;
  color: #1df0ff;
  color: #3ed199;
  border: none;
  text-shadow: 0 0 10px #45d06b, 0 0 20px #e6ff8d;
  font-size: 1.1rem;
}
body h3.no-margin {
  margin: 0;
}
body label,
body span,
body h4 {
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  font-size: 14px;
  margin: 0.33rem 0;
  line-height: 1rem;
  color: #1df0ff;
  border: none;
  text-shadow: 0 0 10px #45d06b, 0 0 20px #e6ff8d;
  font-size: 1rem;
}
body label.no-margin,
body span.no-margin,
body h4.no-margin {
  margin: 0;
}
body h5 {
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  font-size: 14px;
  margin: 0.33rem 0;
  line-height: 1rem;
  color: #1df0ff;
  color: #3ed199;
}
body h6 {
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  font-size: 14px;
  margin: 0.33rem 0;
  line-height: 1rem;
  color: #1df0ff;
  color: #3ed199;
}
body span {
  font-family: 'VT323', monospace;
  font-size: 14px;
  margin: 0.33rem 0;
  line-height: 1rem;
  color: #1df0ff;
  border: none;
  text-shadow: 0 0 10px #45d06b, 0 0 20px #e6ff8d;
  font-size: 1rem;
}
body span.no-margin {
  margin: 0;
}
body p,
body select,
body input {
  font-family: 'VT323', monospace;
  font-size: 14px;
  margin: 0.33rem 0;
  line-height: 1rem;
  color: #1df0ff;
}
body p::placeholder,
body select::placeholder,
body input::placeholder {
  color: #c8d3f5;
}
.dialog.sr3e .window-content,
.sr3e.sheet.item .window-content,
.sr3e.sheet.character .window-content {
  display: flex;
  padding: 0rem;
  margin: 0rem;
}
.dialog.sr3e .stat-grid,
.sr3e.sheet.item .stat-grid,
.sr3e.sheet.character .stat-grid {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}
.dialog.sr3e .stat-grid.one-column,
.sr3e.sheet.item .stat-grid.one-column,
.sr3e.sheet.character .stat-grid.one-column {
  display: inline-grid;
  width: fit-content;
  max-width: min-content;
  grid-template-columns: repeat(1, auto);
}
.dialog.sr3e .stat-grid.two-column,
.sr3e.sheet.item .stat-grid.two-column,
.sr3e.sheet.character .stat-grid.two-column {
  display: inline-grid;
  width: fit-content;
  max-width: min-content;
  grid-template-columns: repeat(2, auto);
}
.dialog.sr3e .details-foldout,
.sr3e.sheet.item .details-foldout,
.sr3e.sheet.character .details-foldout {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.dialog.sr3e .inner-background-container,
.sr3e.sheet.item .inner-background-container,
.sr3e.sheet.character .inner-background-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}
.dialog.sr3e .inner-background-container .inner-background,
.sr3e.sheet.item .inner-background-container .inner-background,
.sr3e.sheet.character .inner-background-container .inner-background {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  z-index: 10;
}
.dialog.sr3e .inner-background-container .inner-background .header-icon,
.sr3e.sheet.item .inner-background-container .inner-background .header-icon,
.sr3e.sheet.character .inner-background-container .inner-background .header-icon {
  justify-content: center;
}
.dialog.sr3e .inner-background-container .inner-background.slim,
.sr3e.sheet.item .inner-background-container .inner-background.slim,
.sr3e.sheet.character .inner-background-container .inner-background.slim {
  width: auto;
  display: inline-block;
  flex: 0 1 auto;
  white-space: nowrap;
}
.dialog.sr3e .inner-background-container.slim,
.sr3e.sheet.item .inner-background-container.slim,
.sr3e.sheet.character .inner-background-container.slim {
  width: auto;
  display: inline-block;
  flex: 0 1 auto;
  white-space: nowrap;
}
a.button,
button {
  position: relative;
  background-color: hotpink;
  color: cyan;
  border: none;
  cursor: pointer;
  margin: 0rem;
  clip-path: polygon(0.25rem 0px, calc(100% - 0.25rem) 0px, 100% 0.25rem, 100% calc(100% - 0.25rem), calc(100% - 0.25rem) 100%, 0.25rem 100%, 0px calc(100% - 0.25rem), 0px 0.25rem);
}
a.button::after,
button::after {
  content: "";
  z-index: -1;
  color: cyan;
  position: absolute;
  background: #3b3b3b;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  pointer-events: none;
  box-shadow: inset 0 0 10px magenta;
  transition: box-shadow 1.5s ease;
  clip-path: polygon(0.25rem 0px, calc(100% - 0.25rem) 0px, 100% 0.25rem, 100% calc(100% - 0.25rem), calc(100% - 0.25rem) 100%, 0.25rem 100%, 0px calc(100% - 0.25rem), 0px 0.25rem);
}
a.button:hover::after,
button:hover::after {
  box-shadow: inset 0 0 15px magenta;
  transition: box-shadow 1.5s ease;
}
a.button:active::after,
button:active::after {
  box-shadow: 0 0 0 3px purple, inset 0 0 20px orange;
}
a.button:disabled::after,
button:disabled::after {
  box-shadow: none;
}
a.button:hover,
button:hover {
  background-color: red;
  transition: background-color 1.5s ease;
}
a.button:active,
button:active {
  background-color: purple;
}
a.button:disabled,
button:disabled {
  background-color: yellow;
}
a.button .ui-control,
button .ui-control {
  background-color: hotpink;
  color: cyan;
}
.sr3e.sheet.character {
  min-width: calc(20rem + 0.25rem * 3);
}
.sr3e.sheet.character .sheet-character-masonry-main {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: -1;
  margin: 0 auto;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, rgba(0, 255, 255, 0.1) 20%, rgba(0, 255, 255, 0.1) 80%, transparent 100%), radial-gradient(ellipse 50% 5% at 50% 100%, rgba(0, 255, 255, 0.8) 0%, transparent 100%), radial-gradient(ellipse 50% 5% at 50% 0%, rgba(0, 255, 255, 0.8) 0%, transparent 100%);
}
.sr3e.sheet.character .sheet-character-masonry-main .layout-gutter-sizer {
  width: 0.25rem;
}
.sr3e.sheet.character .sheet-character-masonry-main .layout-grid-sizer {
  min-width: 20rem;
}
.sr3e.sheet.character {
  overflow: visible !important;
}
.sr3e.sheet.character .neon-name-position {
  position: absolute;
  top: -3.3rem;
  left: 1rem;
  z-index: 100;
}
.sr3e.sheet.character .neon-name-position .neon-name {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add more as needed or loop dynamically with LESS/SASS */
}
.sr3e.sheet.character .neon-name-position .neon-name .neon-name-text {
  font-family: 'Neonderthaw', serif !important;
  font-size: 5rem;
  color: #ff0095;
  text-shadow: 0 0 10px blueviolet, 0 0 20px #ff0033, 0 0 40px blue;
  animation: glow 1.5s infinite alternate;
}
.sr3e.sheet.character .neon-name-position .neon-name .malfunc {
  color: #ff0095;
  text-shadow: 0 0 10px blueviolet, 0 0 20px #ff0033, 0 0 40px blue;
  animation: flicker 3.5s infinite alternate;
}
.sr3e.sheet.character .neon-name-position .neon-name .malfunc:nth-child(2) {
  animation-delay: 0s;
}
.sr3e.sheet.character .neon-name-position .neon-name .malfunc:nth-child(4) {
  animation-delay: 0.3s;
}
.sr3e.sheet.character .neon-name-position .neon-name .malfunc:nth-child(7) {
  animation-delay: 0.7s;
}
.sr3e.sheet.character .neon-name-position .neon-name .malfunc:nth-child(10) {
  animation-delay: 1.2s;
}
.sr3e.sheet.character .neon-name-position .neon-name .malfunc:nth-child(14) {
  animation-delay: 1.8s;
}
.sr3e.sheet.character .neon-name-position .neon-name .malfunc:nth-child(21) {
  animation-delay: 1.8s;
}
@keyframes glow {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.2;
  }
  2.5% {
    opacity: 1;
  }
  5% {
    opacity: 0.5;
  }
  7.5% {
    opacity: 0.7;
  }
  10% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  17.5% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  22.5% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.2;
  }
  27.5% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.2;
  }
  32.5% {
    opacity: 0.2;
  }
  35% {
    opacity: 0.2;
  }
  37.5% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.2;
  }
  42.5% {
    opacity: 0.2;
  }
  45% {
    opacity: 0.5;
  }
  47.5% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.2;
  }
  52.5% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  57.5% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.5;
  }
  62.5% {
    opacity: 0.7;
  }
  65% {
    opacity: 1;
  }
  67.5% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  72.5% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.5;
  }
  77.5% {
    opacity: 0.7;
  }
  80% {
    opacity: 1;
  }
  82.5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  87.5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  92.5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  97.5% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.2;
  }
}
* {
  border: none !important;
}
.application,
.app,
.sr3e.window-app.sr3e {
  background: none;
  box-shadow: none;
  border: none;
  backdrop-filter: blur(2px);
}
.sheet-component {
  box-sizing: border-box;
  min-width: 20rem;
  margin-bottom: 10px;
}
.sheet-component .portrait {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border: 0;
  z-index: 1;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
}
.character-sheet-masonry {
  backdrop-filter: blur(2px);
}
.window-header {
  background-color: transparent;
  box-shadow: inset 0 0 10px #ff0095;
  text-shadow: #006eff 0 0 12px;
  border: none !important;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 0rem), calc(100% - 0rem) 100%, 0rem 100%, 0px calc(100% - 0rem), 0px 0.5rem);
}
.dialog.sr3e,
.sr3e.sheet.item,
.sr3e.sheet.character {
  box-shadow: none;
}
.dialog.sr3e label,
.sr3e.sheet.item label,
.sr3e.sheet.character label {
  color: #1df0ff;
  text-transform: uppercase;
  text-shadow: 0 0 10px #1df0ff;
  padding: 1rem;
}
.dialog.sr3e .window-content,
.sr3e.sheet.item .window-content,
.sr3e.sheet.character .window-content {
  background: transparent;
  background-image: none;
}
.dialog.sr3e .details-foldout,
.sr3e.sheet.item .details-foldout,
.sr3e.sheet.character .details-foldout {
  text-shadow: 0 0 10px #ff0095;
}
.dialog.sr3e a,
.sr3e.sheet.item a,
.sr3e.sheet.character a {
  text-decoration: none;
}
.dialog.sr3e .window-resizable-handle,
.sr3e.sheet.item .window-resizable-handle,
.sr3e.sheet.character .window-resizable-handle {
  background-color: #ff0095 I !important;
  z-index: 1000 !important;
}
.dialog.sr3e img,
.sr3e.sheet.item img,
.sr3e.sheet.character img {
  margin: 0rem;
  border: none;
}
.dialog.sr3e .fake-shadow,
.sr3e.sheet.item .fake-shadow,
.sr3e.sheet.character .fake-shadow {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color: #ff0095;
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  z-index: -2;
  filter: blur(20px);
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 1.4142rem), calc(100% - 1.4142rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
}
.dialog.sr3e .inner-background,
.sr3e.sheet.item .inner-background,
.sr3e.sheet.character .inner-background {
  background: #ff1d9d;
  padding: 0.5rem;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
}
.dialog.sr3e .inner-background::before,
.sr3e.sheet.item .inner-background::before,
.sr3e.sheet.character .inner-background::before {
  box-shadow: inset 0 0 30px #1d282c;
  content: '';
  position: absolute;
  z-index: -1;
  background: linear-gradient(35deg, #1a1a1a, #2f2f2f 35%, #4d4d4d 65%, #3b3b3b 90%, #1e1e1e);
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  pointer-events: none;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
}
.dialog.sr3e .image-mask,
.sr3e.sheet.item .image-mask,
.sr3e.sheet.character .image-mask {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  background: #ff1d9d;
  clip-path: polygon(0.427rem 0px, calc(100% - 0.427rem) 0px, 100% 0.427rem, 100% calc(100% - 0.854rem), calc(100% - 0.854rem) 100%, 0.427rem 100%, 0px calc(100% - 0.427rem), 0px 0.427rem);
}
.dialog.sr3e .image-mask::before,
.sr3e.sheet.item .image-mask::before,
.sr3e.sheet.character .image-mask::before {
  overflow: hidden;
  content: '';
  position: absolute;
  z-index: 1;
  pointer-events: none;
  clip-path: polygon(0.427rem 0px, calc(100% - 0.427rem) 0px, 100% 0.427rem, 100% calc(100% - 0.854rem), calc(100% - 0.854rem) 100%, 0.427rem 100%, 0px calc(100% - 0.427rem), 0px 0.427rem);
}
.dialog.sr3e .image-mask img,
.sr3e.sheet.item .image-mask img,
.sr3e.sheet.character .image-mask img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  object-fit: cover;
  z-index: 100;
  clip-path: polygon(0.427rem 0px, calc(100% - 0.427rem) 0px, 100% 0.427rem, 100% calc(100% - 0.854rem), calc(100% - 0.854rem) 100%, 0.427rem 100%, 0px calc(100% - 0.427rem), 0px 0.427rem);
}
.dialog.sr3e h3.item,
.sr3e.sheet.item h3.item,
.sr3e.sheet.character h3.item {
  text-align: center;
}
.dialog.sr3e .stat-card,
.sr3e.sheet.item .stat-card,
.sr3e.sheet.character .stat-card {
  position: relative;
  background: #ff1d9d;
  transition: transform 1.3s ease, width 1.3s ease, height 1.3s ease, background-color 1.3s ease;
  text-align: center;
  width: auto;
  clip-path: polygon(0.427rem 0px, calc(100% - 0.427rem) 0px, 100% 0.427rem, 100% calc(100% - 0.854rem), calc(100% - 0.854rem) 100%, 0.427rem 100%, 0px calc(100% - 0.427rem), 0px 0.427rem);
}
.dialog.sr3e .stat-card h4.no-margin,
.sr3e.sheet.item .stat-card h4.no-margin,
.sr3e.sheet.character .stat-card h4.no-margin {
  max-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* Prevents text from wrapping */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.dialog.sr3e .stat-card::before,
.sr3e.sheet.item .stat-card::before,
.sr3e.sheet.character .stat-card::before {
  box-shadow: inset 0 0 30px #1b1f24;
  content: '';
  position: absolute;
  z-index: -1;
  background: #003856;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  pointer-events: none;
  clip-path: polygon(0.427rem 0px, calc(100% - 0.427rem) 0px, 100% 0.427rem, 100% calc(100% - 0.854rem), calc(100% - 0.854rem) 100%, 0.427rem 100%, 0px calc(100% - 0.427rem), 0px 0.427rem);
}
.dialog.sr3e .stat-card .stat-value,
.sr3e.sheet.item .stat-card .stat-value,
.sr3e.sheet.character .stat-card .stat-value {
  margin: 0;
  text-align: center;
}
.dialog.sr3e .stat-card .stat-label,
.sr3e.sheet.item .stat-card .stat-label,
.sr3e.sheet.character .stat-card .stat-label {
  align-items: center;
  justify-content: center;
  padding: 0.33rem;
}
.dialog.sr3e .stat-card .stat-label input,
.sr3e.sheet.item .stat-card .stat-label input,
.sr3e.sheet.character .stat-card .stat-label input {
  margin: 0rem;
  clip-path: polygon(0.364658rem 0px, calc(100% - 0.364658rem) 0px, 100% 0.364658rem, 100% calc(100% - 0.729316rem), calc(100% - 0.729316rem) 100%, 0.364658rem 100%, 0px calc(100% - 0.364658rem), 0px 0.364658rem);
}
.dialog.sr3e .stat-card .stat-label input:hover,
.sr3e.sheet.item .stat-card .stat-label input:hover,
.sr3e.sheet.character .stat-card .stat-label input:hover {
  box-shadow: inset 0 0 25px #1df0ff;
  transition: box-shadow 0.3s ease-in;
}
.dialog.sr3e .core-skill .skill-name,
.sr3e.sheet.item .core-skill .skill-name,
.sr3e.sheet.character .core-skill .skill-name {
  text-indent: 0rem;
  text-overflow: ellipsis;
}
.dialog.sr3e .core-skill .skill-value,
.sr3e.sheet.item .core-skill .skill-value,
.sr3e.sheet.character .core-skill .skill-value {
  text-indent: 0rem;
  text-align: center;
  background-color: #003856;
  box-shadow: inset 0 0 8px #1df0ff;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
}
.dialog.sr3e .specialisation-container,
.sr3e.sheet.item .specialisation-container,
.sr3e.sheet.character .specialisation-container {
  background-color: #1b1f24;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
}
.dialog.sr3e .specialisation-container .specializations,
.sr3e.sheet.item .specialisation-container .specializations,
.sr3e.sheet.character .specialisation-container .specializations {
  text-indent: 0rem;
}
.dialog.sr3e .specialisation-container .specializations .skill-specialization-card,
.sr3e.sheet.item .specialisation-container .specializations .skill-specialization-card,
.sr3e.sheet.character .specialisation-container .specializations .skill-specialization-card {
  background-color: #003856;
}
.dialog.sr3e .specialisation-container .specializations .skill-specialization-card .specialization-name,
.sr3e.sheet.item .specialisation-container .specializations .skill-specialization-card .specialization-name,
.sr3e.sheet.character .specialisation-container .specializations .skill-specialization-card .specialization-name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dialog.sr3e .specialisation-container .specializations .skill-specialization-card .specialization-value,
.sr3e.sheet.item .specialisation-container .specializations .skill-specialization-card .specialization-value,
.sr3e.sheet.character .specialisation-container .specializations .skill-specialization-card .specialization-value {
  text-indent: 0rem;
  text-align: center;
  background-color: #1b1f24;
  box-shadow: inset 0 0 8px #1df0ff;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
}
@keyframes marquee-move {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-50%);
  }
}
.ticker {
  display: flex;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
}
.left-gradient,
.right-gradient {
  height: 100%;
  min-width: 0.5rem;
  max-width: 1rem;
  flex: 0 0 1rem;
}
.left-gradient {
  left: 0;
  background: linear-gradient(to left, #ff0095 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
.right-gradient {
  right: 0;
  background: linear-gradient(to right, #ff0095 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
.marquee-outer {
  overflow: hidden;
  position: relative;
  flex: 1 1 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(8px);
}
.marquee-outer::before,
.marquee-outer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  pointer-events: none;
  z-index: 3;
}
.marquee-outer::before {
  left: 0;
  background: linear-gradient(to right, #ff1d9d 0%, rgba(0, 255, 255, 0.5) 25%, rgba(0, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
}
.marquee-outer::after {
  right: 0;
  background: linear-gradient(to left, #ff1d9d 0%, rgba(0, 255, 255, 0.5) 25%, rgba(0, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
}
.marquee-outer .marquee-inner {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee-move 7s linear infinite;
  line-height: 0;
  margin: 0;
}
/* Firefox (Gecko) */
.system-sr3e,
.system-sr3e * {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 255, 255, 0.5) transparent;
}
/* WebKit browsers (Chrome, Edge, Safari) */
.system-sr3e::-webkit-scrollbar,
.system-sr3e *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
.system-sr3e::-webkit-scrollbar-track,
.system-sr3e *::-webkit-scrollbar-track {
  background: transparent;
}
.system-sr3e::-webkit-scrollbar-thumb,
.system-sr3e *::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 255, 0.5);
  border-radius: 6px;
}
.system-sr3e::-webkit-scrollbar-corner,
.system-sr3e *::-webkit-scrollbar-corner {
  background: transparent;
}
/* Attempt to hide arrows (may not work in all browsers) */
.system-sr3e::-webkit-scrollbar-button,
.system-sr3e *::-webkit-scrollbar-button {
  background: transparent;
  display: none;
}
.stat-card {
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
  padding: 0.25rem;
  min-height: 3rem;
  margin-top: 0.25rem;
}
.stat-card .stat-value {
  margin: 0;
}
.stat-card .stat-label {
  display: flex;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
}
.stat-card:hover {
  z-index: 10;
}
.stat-card select {
  height: 2rem;
  width: 100%;
}
.window-app-footer {
  height: 2.3rem;
  bottom: -2.3rem;
  box-shadow: inset 0 0 30px #ff0095;
  position: absolute;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
  clip-path: polygon(0rem 0px, calc(100% - 0rem) 0px, 100% 0rem, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0rem);
  backdrop-filter: blur(8px);
}
