// Units and sizing

@line-height: 1rem;

/* globals.less measurements are in rem*/
:root {
   --component-width: 17rem;
   --component-grid-gap: 0.25rem;
   --background-color: linear-gradient(35deg, #242424, #282828 30%, #2e2e2e 60%, #282828 85%, #242424);

   --background-with-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 90%),
      linear-gradient(
         to right,
         rgba(0, 0, 0, 0) 0%,
         rgba(0, 0, 0, 0.4) 30%,
         rgba(0, 0, 0, 0.4) 70%,
         rgba(0, 0, 0, 0) 100%
      ),
      url("../../../textures/metal.jpg"), linear-gradient(to right, #444, #222);

   --highlight-color-primary: #41e9ca; // Pink for highlights
   --highlight-color-secondary: #27c0a1; // Pink for highlights
   --highlight-color-tertiary: #1cd8b9; // Pink for highlights
   --accent-color-primary: #f824a0;
   --accent-color-secondary: rgb(255, 79, 79);
   --accent-color-tertiary: rgb(176, 79, 255);
}
// Foundry system scoped overrides //
* {
   --color-scrollbar: #ff009572;
}

//var(--highlight-color-primary);: #1df0ff; // Pink for highlights

@primary-color: #1b1f24; // Dark background
@secondary-color: #003856; // Soft green
@tertiary-color: #6825c0; // Soft green
@quartiery-color: #552791; // Soft green

@accent-color: rgb(255, 32, 144); // Neon blue
@accent-apricot: #f4a370;
@highlight-color-tertiary: #5fd3ae; // Pink for highlights
@text-color: var(--highlight-color-primary);
@text-accent-color: #ff80c8;
@warning-color: #ff0095;

@primary-fake-shadow: @accent-color;

@chummer-dark-fallback: repeating-linear-gradient(
   0deg,
   rgba(81, 106, 134, 0.6) 1px,
   rgba(57, 77, 100, 0.6) 5px,
   rgba(31, 44, 66, 0.6) 2px
);

//Main Window Background
@appwindow-background: none; //Makes the entire app transparent
@transparent: transparent;
@background-back-panel: none; // rgba(20, 49, 34, 0.4);
@sheet-background-image: none;
@window-header-color: transparent;

//Default
@default-sr3e-inner-background-color: var(--background-color);
@default-fake-shadow-color: @primary-fake-shadow;
@default-sheet-border-color: @accent-color;

//Default Input element
@input-background: #1c364b;

//Attribute Sheet Component

//Character Attribute Stat Card
@attribute-stat-card-color: @chummer-dark-fallback;
@attribute-stat-card-label-color: @secondary-color;
@attribute-stat-card-button-color: var(--h1-color);

//Character Dice Pool Stat Card
@dicepool-stat-card-color: @chummer-dark-fallback;
@dicepool-stat-card-label-color: @secondary-color;

//Character Movement Stat Card
@movement-stat-card-color: @chummer-dark-fallback;
@movement-stat-card-label-color: @secondary-color;

//Character Karma Stat Card
@karma-stat-card-color: @chummer-dark-fallback;
@karma-stat-card-label-color: @secondary-color;

//Active skill-card
@active-card-background: @chummer-dark-fallback;
//Knowledge skill-card
@knowledge-card-background: @chummer-dark-fallback;
//language skill-card
@language-card-background: @chummer-dark-fallback;

//Character Tabs
@tab-idle: @chummer-dark-fallback;
@tab-active: @chummer-dark-fallback;
@tab-hover: @accent-color;
@tab-neon-border: inset 0 0 15px @accent-color;
@tab-neon-border-active: inset 0 0 15px @highlight-color-tertiary;
@active-tab-font-color: @highlight-color-tertiary;
@active-tab-text-shadow: @active-tab-font-color;

//metatype fake shadow
//Meta Human Item StatCard
@metatype-stat-card-color: @chummer-dark-fallback;
@metatype-stat-card-label-color: @secondary-color;

//Ammunition fake shadow
//Ammunition Item StatCard
@ammuntion-stat-card-color: @chummer-dark-fallback;
@ammuntion-stat-card-label-color: @secondary-color;

//Weapon Sheet fake shadow
//Weapon Sheet Item StatCard
@weapon-stat-card-color: @chummer-dark-fallback;
@weapon-stat-card-label-color: @secondary-color;

@option-background: @accent-color;

//Attribute Point Pulse Colors
@attribute-pulse-primary: magenta;
@attribute-pulse-secondary: blueViolet;

//Shopping-Cart Pulse Colors
@shopping-cart-primary: #00fc00c0;
@shopping-cart-secondary: var(--highlight-color-primary);

//Fake Bloom
@shopping-cart-bloom-primary: #45d06b;
@shopping-cart-bloom-secondary: #e6ff8d;
