.table-wrapper {
   max-height: 50vh;
   overflow-y: auto;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

table {
   width: 100%;
   table-layout: auto;
   border-collapse: collapse;
   box-sizing: border-box;
   padding: 0;
   margin: 0;

   td,
   th {
      vertical-align: middle;
      padding: 0; // Remove unwanted padding
   }

   .stat-card {
      &.centered {
         width: 95%;
         height: 100%;
         margin: 0rem !important;

  
         input[type="checkbox"] {
            margin: 0;
            display: block;
         }
      }
   }
}

thead th {
   padding: 0.25rem;
   background-color: @primary-color;
   text-align: left;
   box-shadow: inset 0 0 30px var(--highlight-color-primary);
   white-space: nowrap;
}

td {
   padding: 0.125rem;
   background-color: @primary-color;
   vertical-align: middle;
   box-shadow: inset 0 0 30px var(--highlight-color-primary);

   input[type="text"],
   input[type="number"],
   select,
   button {
      margin: 0;
      padding: 0;
      min-width: 6rem;
      width: 100%;
      box-sizing: border-box;
      max-width: 8rem;
   }
}
tr:nth-child(even) > td {
   box-shadow: inset 0 0 30px var(--highlight-color-secondary);
}

thead > tr:first-child > th:first-child {
   .clipped-corners(0.5rem, 0rem, 0rem, 0.5rem); // top-left and bottom-left only
}

thead > tr:last-child > th:last-child {
   .clipped-corners(0rem, 0.5rem, 0.5rem, 0rem);
}
tbody > tr > td:first-child {
   .clipped-corners(0.5rem, 0rem, 0rem, 0.5rem);
}

tbody > tr > td:last-child {
   .clipped-corners(0rem, 0.5rem, 0.5rem, 0rem);
}

button {
   white-space: nowrap;
}
