.toolbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0rem;
    right: 0rem;
    padding: 0.5rem;
    opacity: 0;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    .sr3e-toolbar-button {
        margin-left: 0.25rem;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}