.attribute-masonry-grid {
    display: grid;
    margin: 0 auto;

    h1,
    h4 {
        margin: 0;
    }

    h1 {
        text-indent: 0;
    }

    h4 {
        text-align: center;

        &:hover {
            color: @primary-color;
        }
    }

    .attribute-gutter-sizer {
        width: 0.25rem;
    }

    //NOTE: the width is to account for double digits
    .attribute-grid-sizer,
    .stat-card {
        min-width: 6.5rem;
    }

    .stat-card {
        background: @attribute-stat-card-color;
        margin-top: 0.25rem;
        padding: 0.5rem;

        .stat-label {
            display: flex;
            align-items: center;
            justify-content: center; // or center, depending on your layout
            padding: 0.33rem;

            input {
                margin: 0rem;

                &:hover {
                    box-shadow: inset 0 0 25px @highlight-color-primary;
                    transition: box-shadow 0.3s ease-in;
                }
            }

            i {
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }
            
            .decrement-attribute,
            .increment-attribute {
                text-align: center;
                font-size: 0.8rem;
                color: @attribute-stat-card-button-color;
                cursor: pointer;

                &:hover {
                    filter: brightness(1.15);
                    z-index: 10;
                }

                &:active {
                    filter: brightness(1);
                }

                &.disabled {
                    color: grey;
                    pointer-events: none;
                    opacity: 0.5;
                }
            }
        }

        &:hover {
            background-color: @accent-color;
            z-index: 10;
        }
    }
}