// NOTE: The color scheme variables

:root {
    // Component sizing
    --component-width: 17rem;
    --component-grid-gap: 0.25rem;

    // Background gradients
    --background-color: linear-gradient(35deg, #242424, #282828 30%, #2e2e2e 60%, #282828 85%, #242424);
    --background-with-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 90%),
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.4) 30%,
            rgba(0, 0, 0, 0.4) 70%,
            rgba(0, 0, 0, 0) 100%
        ),
        url("../../../textures/metal.jpg"), linear-gradient(to right, #444, #222);

    // Highlight colors
    --highlight-color-primary: #41e9ca;
    --highlight-color-secondary: #27c0a1;
    --highlight-color-tertiary: #1cd8b9;

    // Accent colors
    --accent-color-primary: #f824a0;
    --accent-color-secondary: rgb(255, 79, 79);
    --accent-color-tertiary: rgb(176, 79, 255);
    --accent-color: rgb(255, 32, 144); // Neon pink for hints and accents

    // Heading colors (referenced by fonts.scss)
    --h1-color: var(--highlight-color-tertiary);
    --h1-bloom: 0 0 1px #217288, 0 0 10px #4affb4, 0 0 20px rgb(0, 100, 162);

    --h2-color: var(--highlight-color-secondary);

    --h3-color: var(--highlight-color-secondary);
    --h3-bloom: 0 0 1px #68aeff, 0 0 10px #833bff, 0 0 20px rgb(241, 114, 255);

    --h4-color: var(--highlight-color-tertiary);

    --h5-color: violet;

    --h6-color: var(--highlight-color-primary);

    // Text colors
    --text-color: var(--highlight-color-primary);
}