.roll-composer-container {
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px); //INFO: Known Chrome bug. Leaving here in hope of future patches
   transform: translateZ(0);
   display: flex;
   flex-direction: column;
   background: oklch(from var(--highlight-color-primary) l c h / 0.15);
   height: auto;
   width: 10rem;
   min-height: 5rem;
   left: -12rem;
   top: 0rem;
   position: absolute;
   transition: width 0.3s ease;
   padding: 0.5rem;
   gap: 0.5rem;
   .clipped-corners(0.5rem, 0.5rem, 0.75rem, 0.5rem);

   box-shadow: inset 0 0 1rem var(--highlight-color-primary);

   &.collapsed {
      width: 0;
   }
}

// INFO: increases readability while still allowing for translucency
.roll-composer-container,
.roll-composer-container * {
   text-shadow:
      0 0 3px oklch(0% 0 0 / .35),
      0 0 6px oklch(0% 0 0 / .25);
}

