.sr3e-initiative-dice-button {
	background-image: none !important;
	mask-image: none !important;
	-webkit-mask-image: none !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sr3e-initiative-dice-icon {
	color: var(--highlight-color-primary, #41e9ca);
}
