@use "../mixins.scss" as *;

@layer sr3e.prep {

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      text-transform: uppercase;
   }

   body,
   p {
      font-family: unset;
      font-size: 1rem;
   }

   footer {
      font-family: unset;
      font-size: 0.8rem;
   }

   input[type="checkbox"] {
      all: unset;
      box-sizing: border-box;
      cursor: pointer;
   }

   .switch label.sr3e-switch,
   .switch .sr3e-switch .slider {
      margin: 0;
      padding: 0;
   }

   section.window-content {
      padding-left: 0rem;
      padding-right: 0rem;
      margin-left: 0rem;
      margin-right: 0rem;
   }

   * {
      border: none;
   }

   // Window header framing
   header.window-header {
      position: relative;
      background: rgb(174, 224, 224);
      padding: 0.5rem;
      color: var(--text-color);
      @include clipped-corners(0.75rem, 0.75rem, 1.25rem, 0.75rem, 0.25rem);

      &::before {
         content: "";
         position: absolute;
         z-index: -1;
         top: 1px;
         left: 1px;
         width: calc(100% - 2px);
         height: calc(100% - 2px);
         background: rgb(17, 17, 17);
         box-shadow: inset 0 0 30px darkslategrey;
         pointer-events: none;
         @include clipped-corners(0.75rem, 0.75rem, 1.25rem, 0.75rem, 0.25rem);
      }
   }
}