@layer sr3e {
   $font-path: "/systems/sr3e/fonts";

   /* Import Google Fonts as primary source */
   @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');


   /* Local fonts as fallback */
   @font-face {
      font-family: "VT323-Local";
      src: url("#{$font-path}/VT323/VT323-Regular.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
   }

   @font-face {
      font-family: "Neonderthaw-Local";
      src: url("#{$font-path}/Neonderthaw/Neonderthaw-Regular.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
   }

   :root {
      font-family: "VT323", "VT323-Local", monospace;
   }

   // Mixins for VT323 font styling
   @mixin VTT323 {
      font-family: "VT323", "VT323-Local", monospace;
      margin: 0.33rem 0;
      line-height: 1rem;
      color: var(--h1-color);
      font-size: 0.9rem;
   }

   @mixin VTT323-header {
      @include VTT323;

      &.uppercase {
         text-transform: uppercase;
      }

      &.no-margin {
         padding: 0rem;
         margin: 0rem;
      }
   }

   // Element-specific styling
   form.p.hint,
   p.hint {
      color: var(--accent-color);
   }

   div {
      color: var(--h1-color);
   }

   h1 {
      @include VTT323-header;
      color: var(--h1-color);
      text-shadow: var(--h1-bloom);
      margin-bottom: 0.7rem;
      font-size: 1.2rem;
   }

   summary,
   h2 {
      @include VTT323-header;
      color: var(--h2-color);
      font-size: 1.1rem;
   }

   h3 {
      @include VTT323-header;
      color: var(--h3-color);
      text-shadow: var(--h3-bloom);
      font-size: 1rem;
   }

   label,
   span,
   h4 {
      @include VTT323-header;
      color: var(--h4-color);
      font-size: 0.9rem;
   }

   h5 {
      @include VTT323-header;
      font-size: 1.1rem;
      color: var(--h5-color);
   }

   h6 {
      @include VTT323-header;
      color: var(--h6-color);
   }

   span {
      @include VTT323;
      color: var(--h4-color);
      border: none;
      text-shadow: var(--h3-bloom);
      font-size: 1rem;

      &.no-margin {
         margin: 0;
      }
   }

   a,
   p,
   span,
   select,
   input {
      @include VTT323;

      &::placeholder {
         color: var(--text-color);
      }
   }

   button {
      @include VTT323;

      /* Restore FA icon font for any button that is or becomes an icon */
      &.fa,
      &.fas,
      &.far,
      &.fal,
      &.fad,
      &.fab {
         font: var(--fa-font-solid) !important;
         -webkit-font-smoothing: antialiased;
      }

      /* Also fix nested icons and pseudo-elements in other buttons */
      i,
      i::before,
      i::after,
      &::before,
      &::after {
         font: var(--fa-font-solid) !important;
         -webkit-font-smoothing: antialiased;
      }
   }

}