@use "./sheetcard.scss";
@use "./actor/components/health.scss";
@use "./injections/neonname.scss";
@use "./injections/newsfeed.scss";

form.application.sheet.sr3e.character {
   background-color: rgba(42, 54, 54, 0.582);
   overflow: visible;
   max-height: 0rem;

   
   
   section.window-content {
      overflow: visible;
      
      .packery-packery-grid {
         overflow: visible;
      }
   }
}

header.window-header {
    backdrop-filter: blur(8px);
}