@use "./sheetcard.scss";
@use "./actor/components/health.scss";
@use "./injections/neonname.scss";

form.application.sheet.sr3e.character {
   background-color: red;
   overflow: visible;
   max-height: 0rem;

   section.window-content {
      overflow: visible;

      .packery-packery-grid {
         overflow: visible;
      }
   }
}
