@mixin clipped-corners($left-top: .5rem,
    $right-top: .5rem,
    $right-bottom: .5rem,
    $left-bottom: .5rem,
    $inner-offset: 0rem) {
    clip-path: polygon(calc(#{$left-top} - #{$inner-offset}) 0,
        calc(100% - #{$right-top} + #{$inner-offset}) 0,
        100% calc(#{$right-top} - #{$inner-offset}),
        100% calc(100% - #{$right-bottom} + #{$inner-offset}),
        calc(100% - #{$right-bottom} + #{$inner-offset}) 100%,
        calc(#{$left-bottom} - #{$inner-offset}) 100%,
        0 calc(100% - #{$left-bottom} + #{$inner-offset}),
        0 calc(#{$left-top} - #{$inner-offset}));
}