.sr3e.sheet.character {
    min-width: calc(@component-unit + @component-distance * 3);

    .sheet-character-masonry-main {
        display: block;
        margin: 0 auto;
        width: 100%;

        .layout-gutter-sizer {
            width: @component-distance;
        }

        .layout-grid-sizer {
            min-width: @component-unit;
        }
    }
}