.dialog.sr3e,
.sr3e.sheet.item {
    .sr3e-item-grid {
      /* Set a fixed or max width and center it */
      width: 40rem;
      margin: 0 auto;
      column-count: 2;
      column-gap: 0.5rem;
  
      .item-sheet-component {
        display: inline-block;
        width: 100%;
        margin-bottom: 0.5rem;
        break-inside: avoid;
      }
    }
  }